body{
    background-color: #e61f09;
    color: aliceblue;
    font-family: "Poppins", sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.titulo{
    flex-direction: column;
    line-height: 10px;
    font-family: "Poppins", sans-serif;
}
li{
    font-family: "Poppins", sans-serif;
    display: inline-block;
    margin: 20px;
}
h1{
    font-family: "Poppins", sans-serif;
    font-weight: 200;
}
main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
h2{
    font-family: "Poppins", sans-serif;
    font-size: 56px;
    line-height: 8px;
    
}
span{
    color: rgb(37, 37, 37);
}
p{
    line-height: 20px;
    max-width: 610px;
    font-family: "Poppins", sans-serif;
    color: rgb(37, 37, 37);
    
    
}
img{
    margin-left: 20px;
    width: 700px;
}
a{
 color: aliceblue;
 font-family: "Poppins", sans-serif;
 text-decoration:none; 

}
a:hover{
    color: rgb(37, 37, 37);
    transition: 0.3s all;

}
#btn{
    border: 2px solid rgb(37, 37, 37);
    padding: 10px;
    border-radius: 20px;
}
#btn:hover{
    background-color: rgb(37, 37, 37);
    color: aliceblue;
}
form {
    display: flex;
    flex-direction: column;
    width: 70%;
}
input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;

}

.hide-pass {
    display: flex;
    position: relative;
}
.hide-pass input {
    width: 400px;
}
.hide-pass img {
    cursor: pointer;
    top: 20px;
    right: 20px;
    position: absolute;
    width: 50px;
    height: 50px;
}
form [type="submit"]{
    cursor: pointer;
    height: 50px;
    width: 150px;
    background-color: rgb(37, 37, 37);
    color: aliceblue;
}
footer{
    font-family: monospace;
    text-align: left;

}

